# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/CMake Overview
.vs/cmake.db
.vs/OneTech-Physics/copilot-chat/1d600d08/sessions/08efb7ce-3cd2-4efb-96d3-e671d624246c
.vs/OneTech-Physics/CopilotIndices/17.12.38.29086/CodeChunks.db
.vs/OneTech-Physics/CopilotIndices/17.12.38.29086/CodeChunks.db-shm
.vs/OneTech-Physics/CopilotIndices/17.12.38.29086/CodeChunks.db-wal
.vs/OneTech-Physics/CopilotIndices/17.12.38.29086/SemanticSymbols.db
.vs/OneTech-Physics/CopilotIndices/17.12.38.29086/SemanticSymbols.db-shm
.vs/OneTech-Physics/CopilotIndices/17.12.38.29086/SemanticSymbols.db-wal
.vs/OneTech-Physics/FileContentIndex/489f8e3b-0bc2-4734-a599-0c3075eb0943.vsidx
.vs/OneTech-Physics/FileContentIndex/90ff3b0c-9fd5-412f-9150-d248c1bb979a.vsidx
.vs/OneTech-Physics/FileContentIndex/a6da8811-e238-4e59-862a-80d5095197f4.vsidx
.vs/OneTech-Physics/FileContentIndex/c21d8229-27ef-45b0-9ee1-519b72fd24f1.vsidx
.vs/OneTech-Physics/FileContentIndex/dc4b9ff0-177f-421d-9530-c1071e16839f.vsidx
.vs/OneTech-Physics/v17/.wsuo
.vs/OneTech-Physics/v17/Browse.VC.db
.vs/OneTech-Physics/v17/Browse.VC.db-shm
.vs/OneTech-Physics/v17/Browse.VC.db-wal
.vs/OneTech-Physics/v17/Browse.VC.opendb
.vs/OneTech-Physics/v17/DocumentLayout.json
.vs/OneTech-Physics/v17/ipch/AutoPCH/55754c3be005b05c/TRANSFORM.ipch
.vs/OneTech-Physics/v17/ipch/AutoPCH/8e55aee2c534d0b6/MATRIX3.ipch
.vs/OneTech-Physics/v17/ipch/AutoPCH/a0c6abb09621d3f4/VECTOR3.ipch
.vs/OneTech-Physics/v17/ipch/AutoPCH/cbdd850f17886df3/MATRIX4.ipch
.vs/OneTech-Physics/v17/ipch/AutoPCH/d097cea50779cd4b/VECTOR2.ipch
.vs/OneTech-Physics/v17/ipch/AutoPCH/e789131ea21b54d1/MAIN.ipch
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
build/ALL_BUILD.vcxproj
build/ALL_BUILD.vcxproj.filters
build/cmake_install.cmake
build/CMakeCache.txt
build/CMakeFiles/3.31.5/CMakeCCompiler.cmake
build/CMakeFiles/3.31.5/CMakeCXXCompiler.cmake
build/CMakeFiles/3.31.5/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.31.5/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.31.5/CMakeRCCompiler.cmake
build/CMakeFiles/3.31.5/CMakeSystem.cmake
build/CMakeFiles/3.31.5/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.31.5/CompilerIdC/CompilerIdC.vcxproj
build/CMakeFiles/3.31.5/CompilerIdC/Debug/CompilerIdC.exe.recipe
build/CMakeFiles/3.31.5/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
build/CMakeFiles/3.31.5/CompilerIdC/Debug/CompilerIdC.tlog/Cl.items.tlog
build/CMakeFiles/3.31.5/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
build/CMakeFiles/3.31.5/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
build/CMakeFiles/3.31.5/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
build/CMakeFiles/3.31.5/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
build/CMakeFiles/3.31.5/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
build/CMakeFiles/3.31.5/CompilerIdC/Debug/CompilerIdC.tlog/link.secondary.1.tlog
build/CMakeFiles/3.31.5/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
build/CMakeFiles/3.31.5/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.31.5/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/3.31.5/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
build/CMakeFiles/3.31.5/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/3.31.5/CompilerIdCXX/Debug/CompilerIdCXX.tlog/Cl.items.tlog
build/CMakeFiles/3.31.5/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/3.31.5/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/3.31.5/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/3.31.5/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/3.31.5/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/3.31.5/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.secondary.1.tlog
build/CMakeFiles/3.31.5/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/3.31.5/VCTargetsPath.txt
build/CMakeFiles/3.31.5/VCTargetsPath.vcxproj
build/CMakeFiles/3.31.5/VCTargetsPath/x64/Debug/VCTargetsPath.recipe
build/CMakeFiles/3.31.5/VCTargetsPath/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/f20e8e9857fb7a66f9827f139e9f5008/generate.stamp.rule
build/CMakeFiles/generate.stamp
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/TargetDirectories.txt
build/Debug/OneTechPhyxs.pdb
build/OneTechPhyxs.dir/Debug/OneTechPhyxs.exe.recipe
build/OneTechPhyxs.dir/Debug/OneTechPhyxs.ilk
build/OneTechPhyxs.dir/Debug/OneTechPhyxs.tlog/CL.command.1.tlog
build/OneTechPhyxs.dir/Debug/OneTechPhyxs.tlog/Cl.items.tlog
build/OneTechPhyxs.dir/Debug/OneTechPhyxs.tlog/CL.read.1.tlog
build/OneTechPhyxs.dir/Debug/OneTechPhyxs.tlog/CL.write.1.tlog
build/OneTechPhyxs.dir/Debug/OneTechPhyxs.tlog/CustomBuild.command.1.tlog
build/OneTechPhyxs.dir/Debug/OneTechPhyxs.tlog/CustomBuild.read.1.tlog
build/OneTechPhyxs.dir/Debug/OneTechPhyxs.tlog/CustomBuild.write.1.tlog
build/OneTechPhyxs.dir/Debug/OneTechPhyxs.tlog/link.command.1.tlog
build/OneTechPhyxs.dir/Debug/OneTechPhyxs.tlog/link.read.2.tlog
build/OneTechPhyxs.dir/Debug/OneTechPhyxs.tlog/link.secondary.1.tlog
build/OneTechPhyxs.dir/Debug/OneTechPhyxs.tlog/link.write.1.tlog
build/OneTechPhyxs.dir/Debug/OneTechPhyxs.tlog/OneTechPhyxs.lastbuildstate
build/OneTechPhyxs.dir/Debug/vc143.pdb
build/OneTechPhyxs.sln
build/OneTechPhyxs.vcxproj
build/OneTechPhyxs.vcxproj.filters
build/x64/Debug/ALL_BUILD/ALL_BUILD.recipe
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.recipe
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
build/ZERO_CHECK.vcxproj
build/ZERO_CHECK.vcxproj.filters
*.vsidx
.vs/OneTech-Physics/v17/DocumentLayout.backup.json
*.filters
*.recipe
*.tlog
*.pdb
*.vcxproj
*.ilk
